<!DOCTYPE html>
<html lang="de"
      class="desktop"
      {{!-- Best way to add open graph schema, @see http://stackoverflow.com/a/14207025 --}}
      xmlns:fb="http://ogp.me/ns/fb#"
>
<head prefix="og: http://ogp.me/ns# article: http://ogp.me/ns/article#">

    {{!-- Kick off stylesheet downloading asap --}}
    <link rel="stylesheet" type="text/css" href="main.css"/>

    {{> szig-frontend-toolkit/lib/components/head/head data.seo}}

</head>

<body>
    {{> szig-frontend-toolkit/lib/components/header/header
        includeSmallIcon = false
        type = "dark"
    }}

    <main>
        <h1>Gibst den netten Entwicklern ein Gutti?!</h1>

        <a id="give-gutti" class="sz-button" href="#">Entwickler füttern</a>

        <p id="msg-gutti-success" class="sz-message--success">Entwickler gefüttert</p>
        <p id="msg-gutti-error" class="sz-message--error">AHHH Fehler!</p>

        <div class="sz-credits">
            Ship-the-hottest-shit-Day 2016<br>
            von Hauke Bendt, Thomas König, Wolfgang Lübke, Benjamin Urban & Markus Walbrun
        </div>

        <img src="../assets/javascript.jpg" alt="JavaScript" />
    </main>

    <script async src="main.js"></script>

</body>
</html>
